.root {
    display: grid;
    gap: 1.5rem;
}
.root form {
    display: inherit;
    gap: inherit;
    flex-direction: inherit;
}
.btn {
    margin-top: auto;
}

.logo {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.btn {
    margin-right: auto;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    padding: 0;
    background: transparent;
    cursor: pointer;
}