.root {
    max-width: 30rem;
    margin: 0 auto;
    padding: 2.5rem 2rem;
    gap: 2.5rem;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main {
    display: grid;
    gap: 1.5rem;
}
.main h2 {
    margin-top: 0;
    font-weight: normal;
}
.main form {
    display: inherit;
    gap: inherit;
    flex-direction: inherit;
}

.logo {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.btn {
    border: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    padding: 0;
    background: transparent;
    cursor: pointer;
}

.footer {
    margin-top: auto;
}